<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="wisoft.pack.app.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="RCP Perspective"
            class="wisoft.pack.app.Perspective"
            id="WiosftUpdatePack.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            name="Message"
            allowMultiple="true"
            icon="icons/add.gif"
            class="wisoft.pack.views.View"
            id="WiosftUpdatePack.view">
      </view>
      <view
            name="Mailboxes"
            allowMultiple="true"
            icon="icons/sample3.gif"
            class="wisoft.pack.views.NavigationView"
            id="WiosftUpdatePack.navigationView">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="WiosftUpdatePack.add"
            name="新建更新包">
      </command>
      <command
            id="WiosftUpdatePack.remove"
            name="删除更新包">
      </command>
      <command
            id="WiosftUpdatePack.open"
            name="打开更新包">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="WiosftUpdatePack.add"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="CTRL+3">
      </key>
      <key
            commandId="org.eclipse.ui.file.exit"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="CTRL+X">
      </key>
      <key
            commandId="WiosftUpdatePack.remove"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="WiosftUpdatePack.key1"
            sequence="CTRL+D">
      </key>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="WiosftUpdatePack.application"
            name="中科更新包管理工具">
         <property
               name="aboutText"
               value="RCP Mail template created by PDE">
         </property>
         <property
               name="windowImages"
               value="icons/wi_updatetool.ico">
         </property>
         <property
               name="aboutImage"
               value="product_lg.gif">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="wisoft.pack.edits.PackEdit"
            id="wisoft.pack.edits.PackEdit"
            name="New PackEdit">
      </editor>
   </extension>

</plugin>
