<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="wisoft.pack.app.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="RCP Perspective"
            class="wisoft.pack.app.Perspective"
            id="WiosftUpdatePack.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            name="Message"
            allowMultiple="true"
            icon="icons/sample2.gif"
            class="wisoft.pack.views.View"
            id="WiosftUpdatePack.view">
      </view>
      <view
            class="org.eclipse.ui.navigator.CommonNavigator"
            icon="icons/sample.gif"
            id="WisoftUpdatePack.Navigator"
            name="My Common Navigator">
      </view>
   </extension>
   
   <extension
         point="org.eclipse.ui.commands">
      <category
            name="Mail"
            id="WiosftUpdatePack.category">
      </category>
      <command
            name="Open Message Dialog"
            description="Open a message dialog"
            categoryId="WiosftUpdatePack.category"
            id="WiosftUpdatePack.openMessage">
      </command>
      <command
            id="WiosftUpdatePack.new"
            categoryId="WiosftUpdatePack.category"
            name="新建更新包">
      </command>
      <command
            id="WiosftUpdatePack.open"
            categoryId="WiosftUpdatePack.category"
            name="open mail">
      </command>
      <command
            categoryId="WiosftUpdatePack.category"
            id="WiosftUpdatePack.delPack"
            name="删除更新包">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="WiosftUpdatePack.new"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="CTRL+3">
      </key>
      <key
            commandId="org.eclipse.ui.file.exit"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="CTRL+X">
      </key>
      <key
            commandId="WiosftUpdatePack.delPack"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="CTRL+D">
      </key>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="WiosftUpdatePack.application"
            name="中科更新包管理工具">
         <property
               name="aboutText"
               value="RCP Mail template created by PDE">
         </property>
         <property
               name="windowImages"
               value="icons/sample2.gif">
         </property>
         <property
               name="aboutImage"
               value="product_lg.gif">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewerActionBinding
            viewerId="WisoftUpdatePack.Navigator">
         <includes>
            <actionExtension
                  pattern="org.eclipse.ui.navigator.resources.*">
            </actionExtension>
         </includes>
      </viewerActionBinding>
      <viewerContentBinding
            viewerId="WisoftUpdatePack.Navigator">
         <includes>
            <contentExtension
                  pattern="org.eclipse.ui.navigator.resourceContent">
            </contentExtension>
            <contentExtension
                  pattern="org.eclipse.ui.navigator.resources.filters.*">
            </contentExtension>
            <contentExtension
                  pattern="org.eclipse.ui.navigator.resources.linkHelper">
            </contentExtension>
            <contentExtension
                  pattern="org.eclipse.ui.navigator.resources.workingSets">
            </contentExtension>
         </includes>
      </viewerContentBinding>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.ui.resourcePerspective">
         <view
               id="WisoftUpdatePack.Navigator"
               ratio="0.5"
               relationship="stack"
               relative="org.eclipse.ui.navigator.ProjectExplorer">
         </view>
      </perspectiveExtension>
   </extension>

</plugin>
