<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="wisoft.pack.app.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="RCP Perspective"
            class="wisoft.pack.app.Perspective"
            id="WiosftUpdatePack.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            name="MyPackInfoTree"
            allowMultiple="true"
            icon="icons/sample3.gif"
            class="wisoft.pack.views.NavigationView"
            id="WiosftUpdatePack.navigationView">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="WiosftUpdatePack.add"
            name="新建更新包">
      </command>
      <command
            id="WiosftUpdatePack.remove"
            name="删除更新包">
      </command>
      <command
            id="WiosftUpdatePack.open"
            name="打开更新包">
      </command>
      <command
            id="WiosftUpdatePack.refresh"
            name="刷新更新包">
      </command>
      <command
            id="WiosftUpdatePack.save"
            name="保存更新包">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="WiosftUpdatePack.add"
            schemeId="WiosftUpdatePack.myscheme"
            sequence="CTRL+3">
      </key>
      <key
            commandId="org.eclipse.ui.file.exit"
            schemeId="WiosftUpdatePack.myscheme"
            sequence="ALT+X">
      </key>
      <key
            commandId="WiosftUpdatePack.remove"
            schemeId="WiosftUpdatePack.myscheme"
            sequence="CTRL+D">
      </key>
      <key
            commandId="WiosftUpdatePack.refresh"
            schemeId="WiosftUpdatePack.myscheme"
            sequence="F5">
      </key>
      <key
            commandId="WiosftUpdatePack.save"
            schemeId="WiosftUpdatePack.myscheme"
            sequence="CTRL+5">
      </key>
      <scheme
            id="WiosftUpdatePack.myscheme"
            name="myscheme"
            parentId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </scheme>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="WiosftUpdatePack.application"
            name="中科更新包管理工具">
         <property
               name="aboutText"
               value="RCP Mail template created by PDE">
         </property>
         <property
               name="windowImages"
               value="icons/wi_updatetool.ico">
         </property>
         <property
               name="aboutImage"
               value="product_lg.gif">
         </property>
         <property
               name="appName"
               value="中科更新包管理工具">
         </property>
         
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="wisoft.pack.edits.PackInfoEditor"
            id="wisoft.pack.edits.PackInfoEditor"
            name="New PackInfoEditor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.console.consoleFactories">
   </extension>

</plugin>
